<footer class='footer'>
  <div class='container'>
    <div class='footer-text-container float-left'>
      <span class='footer-text'>Copyright © 2017 Oakfield Park</span>
    </div>

    <div class='social-media-icons-container float-right'>
      <a href="https://www.facebook.com/Oakfield.Park/"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
      <a target="_blank" href="https://twitter.com/oakfield_park" title="Twitter"><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
      <a target="_self" href="mailto:gardens@oakfieldpark.com" title="Email"><i class="fa fa-envelope" aria-hidden="true"></i></a>
    </div>
  </div>
</footer>
