<!-- Navigation bar partial -->
  <div class='navbar-container'>
    <nav class='navbar'>
      <div class='logo-container'>
        <a href='/'><img class='logo' src='/images/buffers_logo.png' /></a>
      </div>
      <ul class='nav-options'>
        <li><a class="active contact" href="/contact">Contact Us</a></li>
        <li><a class="active mid-link" href="/menus/bistro">Bistro Menu</a></li>
        <li><a class="active" href="http://www.oakfieldpark.com/">Oakfield Park</a></li>
      </ul>
    </nav>
  </div>
