<!-- Navigation bar partial -->
  <div class='navbar-container'>
    <nav class='navbar'>
      <ul class='nav-options'>
        <li><a class="active" href="#menu">Menu</a></li>
        <li><a class="active" href="#contact">Contact Us</a></li>
      </ul>
    </nav>
  </div>
