<!-- Navigation bar partial -->
  <div class='navbar-container'>
    <nav class='navbar'>
      <div class='logo-container'>
        <img class='logo' src='images/buffers_logo.png' />
      </div>
      <ul class='nav-options'>
        <li><a class="active" href="#contact">Contact Us</a></li>
        <li><a class="active" href="#menu">Day Menu</a></li>
        <li><a class="active" href="#menu">Bistro Menu</a></li>
        <li><a class="active" href="#menu">Oakfield Park</a></li>
      </ul>
    </nav>
  </div>
