body {
  margin: 0;
  padding: 0;
  font-family: 'Josefin Sans', sans-serif;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.container {
  width: 85%;
  /*height:100%;*/
  padding:0;
  margin: 0 auto;
}

.clear {
  clear:both;
}

.page-container {
  background-image: url(../images/buffers_inside.jpg);
  background-size: cover;
  height:100vh;
}

.header-container {
  margin: 0;
  padding: 0;
  margin:30px auto;
  /*float:left;*/
  /*width:800px;*/
}

.homepage-header {
  font-family: 'Parisienne', cursive;
  font-weight:400;
  color: white;
  text-align: center;
  margin:0;
  font-size:100px;
  text-shadow: 2px 2px #000000;
}

.home-description {
  background-color: rgba(0, 0, 0, 0.7);
  width:800px;
  margin:0 auto;
  position:relative;
  border-radius:15px;
  overflow: hidden;
}

.homepage-info {
  width:100%;
}
