body {
  margin: 0;
  padding: 0;
  font-family: 'Josefin Sans', sans-serif;
}

body, html {
  height: 100%;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.container {
  width: 85%;
  padding: 0;
  margin: 0 auto;
}

.clear {
  clear:both;
}

.main-page-container {
  position: fixed;
  top:0px;
  left:0;
  z-index: -1;
  background-image: url(../images/buffers_inside.jpg);
  width:100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.opening-times {
  margin-bottom: 40px;
}

.page-container {
  background-image: url(../images/buffers_inside.jpg);
  background-size: cover;
  background-attachment: fixed;
}

.header-container {
  margin: 0;
  padding: 0;
  margin:60px 30px auto;
}

.homepage-header {
  font-family: 'Parisienne', cursive;
  font-weight:bold;
  color: white;
  text-align: center;
  margin:0;
  font-size:100px;
  text-shadow: 2px 2px #000;
}

.homepage-subheader {
  margin-bottom:50px;
  font-family: 'Josefin Sans', cursive;
  font-weight: lighter;
  text-align: center;
  font-style: italic;
  font-size:30px;
  text-shadow: 2px 2px #000;
  color:white;
}

.home-description {
  background-color: rgba(0, 0, 0, 0.7);
  width:800px;
  margin:0 auto;
  position:relative;
  border-radius:15px;
  overflow: hidden;
}

.homepage-info {
  width:100%;
}

.buttons-outer-container {
  margin-bottom:60px;
  height:100px;
}

.button-container {
  float: left;
  width:50%;
  height:100%;
}

.mainpage-button {
  border:2px solid #FFF;
  border-radius: 15px;
  color: #FFF;
  background-color: rgba(0, 0, 0, 0.4);
  padding:15px 5px;
  font-size:60px;
  text-decoration: none;
  display:block;
  width:80%;
  text-align: center;
  margin:0 auto;
  transition: background-color 0.5s;
}

.mainpage-button:hover {
  background-color: #000;
}

.container object {
  display:block;
  margin: 0 auto;
  width:60%;
  height:1000px;
}

.contact-background {
  background-color: #000;
  border-radius:30px;
  width: 100%;
  margin: 30px auto;
}

.contact-info {
  padding:10px;
  font-size: 4em;
  color: white;
  text-align: center;
  display:block;
  width:90%;
  margin:0 auto;
}

.contact-info-sub {
  color: white;
  text-align: center;
  font-size:2em;
}

.contact-title {
  color: #BBB;
}

.menu-button {
  width:60%;
  margin:30px auto;
}

@media only screen and (max-width: 680px) {
  .mainpage-button {
    font-size: 30px;
  }
}

@media only screen and (max-width: 530px) {
  .homepage-header {
    font-size: 70px;
  }
}

@media only screen and (max-width: 600px) {
  .contact-info {
    font-size: 3em;
  }

  .contact-info-sub {
    font-size: 1.5em;
  }
}
