.navbar-container {
  margin: 0;
  margin-bottom: -46px;
  padding: 0;
  background-color:#111;
  height:46px;
}

.navbar {
  background-color: #111;
  height: 100%;
  width: 85%;
  margin: 0 auto;
}

.nav-options {
  float:right;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #111;
}

.logo-container {
  float:left;
}

.logo {
  width:120px;
  padding:5px;
  filter:invert();
}

li {
  float: right;
}

li a {
  font-family: 'Josefin Sans', sans-serif;
  display: block;
  color: white;
  text-align: center;
  margin-right:20px;
  padding-top: 15px;
  padding-bottom: 12px;
  text-decoration: none;
  border-bottom: 3px solid #111;
  transition: color 0.5s;
}

li a:hover {
  color: #008000;
  border-bottom-color: #008000;
}
