<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Buffers</title>
    <link href="https://fonts.googleapis.com/css?family=Parisienne|Josefin+Sans" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="/css/navbar.css" />
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
    <link rel="stylesheet" type="text/css" href="/css/footer.css" />
    <script src="https://use.fontawesome.com/3dc9490303.js"></script>
  </head>
  <body>
    <div class='main-page-container'></div>
      <%= erb :'partials/navbar' %>

      <div class='clear'></div>

      <div class='container'>
        <div class='contact-background'>
          <h1 class='contact-info'>Contact Us</h1>
          <h2 class='contact-info-sub'><span class='contact-title'>By phone:</span> 00353 (0)74 9173710</h2>
          <h2 class='contact-info-sub'><span class='contact-title'>By email:</span> buffers@oakfieldpark.com</h2>
          <img class='contact-info' src='images/buffers_info_transparent.png' />
        </div>
      </div>

      <%= erb :'partials/footer' %>
  </body>
</html>
