<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Buffers</title>
    <link href="https://fonts.googleapis.com/css?family=Parisienne|Josefin+Sans" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="/css/navbar.css" />
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
    <link rel="stylesheet" type="text/css" href="/css/footer.css" />
    <script src="https://use.fontawesome.com/3dc9490303.js"></script>
  </head>
  <body>
    <%= erb :'partials/navbar' %>
    <div class='main-page-container'></div>

      <div class='clear'></div>

      <div class='container'>
        <div class='header-container'>
          <h1 class='homepage-header'>Buffers Restaurant</h1>
          <h2 class='homepage-subheader'>Come &amp; join us for a treat in the heart of Oakfield Park</h2>
        </div>

        <div class='clear'></div>

        <div class='buttons-outer-container'>
          <div class='button-container'>
            <a class='mainpage-button' href='https://drive.google.com/file/d/0B8luDWdKzxbAdmc4Z1RSNXBidG8/view?usp=sharing'>Bistro Menu</a>
          </div>
          <div class='button-container'>
            <a class='mainpage-button' href='/contact'>Contact Us</a>
          </div>
        </div>

        <h2 class='homepage-subheader opening-times'>Open from 11am to 6pm</h2>
      </div>

      <%= erb :'partials/footer' %>

  </body>
</html>
