<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Buffers</title>
    <link href="https://fonts.googleapis.com/css?family=Arizonia|Josefin+Sans" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
    <link rel="stylesheet" type="text/css" href="/css/footer.css" />
    <link rel="stylesheet" type="text/css" href="/css/navbar.css" />
    <script src="https://use.fontawesome.com/3dc9490303.js"></script>
  </head>
  <body>
    <div class='page-container'>
    <%= erb :'partials/navbar' %>

      <div class='clear'></div>

      <div class='container'>
        <div class='header-container'>
          <h1 class='homepage-header'>Welcome to Buffers</h1>
        </div>
      </div>

      <footer class='footer'>
        <div class='container'>
          <div class='footer-text-container float-left'>
            <span class='footer-text'>Copyright © 2017 Oakfield Park</span>
          </div>

          <div class='social-media-icons-container float-right'>
            <a href="https://www.facebook.com/Oakfield.Park/"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
            <a target="_blank" href="https://twitter.com/oakfield_park" title="Twitter"><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
            <a target="_self" href="mailto:gardens@oakfieldpark.com" title="Email"><i class="fa fa-envelope" aria-hidden="true"></i></a>
          </div>
        </div>
      </footer>
    </div>

  </body>
</html>
